nav {
  background: var(--bg-tertiary) !important;
  border: 0 !important;
}

body {
  background: var(--bg-primary) !important;
}

.gHz6xd {
  background: var(--bg-secondary) !important;
  border-color: var(--bg-primary) !important;
}

.d4Fe0d {
  background: var(--bg-secondary) !important;
  border: 0 !important;
}

.qhnNic {
  background: var(--bg-secondary) !important;
  border: 0 !important;
}

.ETRkCe {
  background: var(--bg-secondary) !important;
}

.zTrXGf {
  background: var(--bg-secondary) !important;
}

.hgjBDc, .Yalane {
  background: var(--bg-secondary) !important;
}

.wSo7x {
  background: var(--bg-secondary) !important;
  border: 0 !important;
}

.WN8ale {
  border: 0 !important;
}

.jWCzBe:hover, .JBMs6:hover {
  background: var(--bg-secondary) !important;
}

.Xzp3fc > li:hover .jWCzBe {
  background: var(--bg-secondary) !important;
}

.cQ1lCe {
  background: var(--bg-secondary) !important;
}

.U8uF9 {
  background: var(--bg-secondary) !important;
}

.I2Bonc {
  background: var(--bg-secondary) !important;
}

.po4Aib {
  background: var(--bg-secondary) !important;
}

h2, a, span, .YVvGBb, .K6Ovqd, .hqfVKd, .pco8Kc, .l7z6cd,
.lziZub, .O98Lj > div, .asQXV, .WN8ale, .n2mOh, .VSWCL, .KHxj8b .tL9Q4c {
  color: var(--text-primary) !important;
}

.gb_J {
  background: var(--bg-tertiary) !important;
}

.Aopndd {
  background: var(--bg-tertiary) !important;
  border: var(--bg-secondary) 1px solid;
}

.gb_t {
  background-color: var(--bg-secondary) !important;
}

.qjTEB {
  background-color: var(--bg-primary);
}

.FwR7Pc {
  background-color: var(--bg-secondary) !important;
}